body {
	color: #1E2766;
	content: '';
	background: url("./backgrounds/Math_Explorer(Background_Updated).png") center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top center;
}

button {
	position: relative; 
	border-radius: 5px;
	background-color: #4CAF50;	
}
.eq_box {
	position: absolute;
	font-family: Helvetica;
	opacity: .9;
	border-width: 5px;
	border-style: solid;
	border-color: #D7E1EC;
	background-color: #4D97EB;
	border-radius: 5px;
	text-align: center;
	width: 20%;
	height: 25%;
	padding-left: 4%;
	padding-right: 4%;
	bottom: 0;
	right: 10%;
	color: white;
}

.canvas {
	/*background-color: red;*/
	position: absolute;
	right: 0;
	top:0;
	width: 85%;
	height: 70%;
}

#sub_button {
	visibility: hidden;
	right: 3%;
	position: absolute;
	bottom: 10%;
	font-size: 20px;
	width: 15%;
	height: 25%;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	opacity: 1;
}

.start_button {
	visibility: hidden;
	z-index: 1;
	position: absolute;
	outline: none;
	top: 65%;
	left: 34%;
	background: url("./game models/Start_Button2.png") center no-repeat;
	cursor: pointer;
	width: 31%;
	height: 24%;
	background-size: cover;
	border: none;
}

.start_button:hover {
	background: url("./game models/Start_Button3.png") center no-repeat;
	background-size: cover;
}
#song {
	visibility: hidden;
}

#answer_field {
	position:absolute;
	bottom: 10%;
	width: 60%;
	height: 25%;
	right: 19.5%;
	text-align: center;
	font-size: 150%;
}

#equation {
	font-size: 200%;
	margin-bottom: 0;
	margin-top: 5%;
}

#answer {
	font-size: 150%;
	margin-top: 5%;
}

#success {
	position: absolute;
	bottom:70%;
	right: 33%;
	font-size: 50px;
	color: #F0E10F;
	opacity: 0;
}

.success_animation {
	animation-name: "success";
	-webkit-animation-name: "success";
	-webkit-animation-duration: .25s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	animation-duration:.25s;
}

.unsucc {
	animation-name: "unsucc";
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	animation-duration:.25s;
	-webkit-animation-name: "unsucc";
	-webkit-animation-duration: .25s;
	
}

@keyframes unsucc {
	from {
		bottom:85%;
		right: 33%;
		opacity: 1;
	}
	to 	{
		bottom: 55%;
		opacity: 0;
	}
}

@-webkit-keyframes unsucc {
	from {
		bottom:85%;
		right: 33%;
		opacity:1;
	}
	to 	{
		bottom: 55%;
		opacity:0;
	}
}


@keyframes success {
	from {
		bottom:55%;
		right: 33%;
		opacity: 0;
	}
	to 	{
		bottom: 80%;
		opacity: 1;
	}
}

@-webkit-keyframes success {
	from {
		bottom:55%;
		right: 33%;
		opacity:0;
	}
	to 	{
		bottom: 80%;
		opacity:100;
	}
}

#scoreboard {
	position: absolute;
	font-family: Helvetica;
	text-shadow: 2px 2px black;
	visibility: hidden;
	color: white;
	font-size: 50px;
	left: 40%;
	top: 10%;
	text-align: center;
}

#earthdest {
	visibility: hidden;
	position: absolute;
	top: 41%;
	left: 3%;
}

#high_score {
	text-shadow: 2px 2px black;
	font-family: Helvetica;
	color: white;
	visibility: hidden;
	position: absolute;
	top: 25%;
	right: 3%;
	bottom: 5%;
	width: 23%;
	opacity: .8;
	text-align: center;
	font-size: 50px;
}

#beat_hi_score {
	visibility: hidden;
	top:5%;
	font-size: 40px;
	color: #ffe14c;
}