body {
	background: url("./backgrounds/title_page(updated).png") center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

html {
	font-family: "Open Sans";
}

h1 {
	text-align: center;
	color: #3378e8;
	font-size: 100px;
	text-shadow:
	-.75px -.75px 0 white,
    .75px -.75px 0 white,
    -.75px .75px 0 white,
    .75px .75px 0 white;
}

img {
	position: absolute;
	bottom: 0;
}

button {
	position: absolute;
	top:70%;
	text-align: center;
	border: none;
	color: #ffffff;
	padding: 1% 2%;
	font-size: 400%;
	background-color: #a8a8a8;
	border: 8px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	outline-style: none
}

button:hover {
	background-color: #3378e8;
}

button:active {
	background-color: #2356a8;
}

.start_button {
	position: absolute;
	top: 65%;
	left: 33%;
	background: url("./game models/start_button2.png") center no-repeat;
	cursor: pointer;
	width: 31%;
	height: 24%;
	background-size: cover;
	border: none;
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	/*margin-top: 35%;*/
}

.start_button:hover {
	background: url("./game models/start_button1.png") center no-repeat;
	background-size: cover;
	width: 31%;
	height: 24%;

}

#earth {
	position: absolute;
	left:-20%;
}