body {
	background: url("./backgrounds/math_explorer(background_updated).png") center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top center;
}

button {
	position: relative; 
	border-radius: 5px;
	background-color: #4CAF50;	
}
.eq_box {
	position: absolute;
	font-family: Helvetica;
	opacity: .9;
	border-width: 5px;
	border-style: solid;
	border-color: #D7E1EC;
	background-color: #4D97EB;
	border-radius: 5px;
	text-align: center;
	width: 20%;
	height: 25%;
	padding-left: 4%;
	padding-right: 4%;
	bottom: 0%;
	right: 10%;
}

.canvas {
	/*background-color: red;*/
	position: absolute;
	right: 0;
	top:0;
	width: 85%;
	height: 70%;
}

#equation {
	font-size: 25px;
}

#sub_button {
	right: 5%;
	position: absolute;
	top: 65%;
	font-size: 20px;
	width: 15%;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	opacity: 1;
}

